.Homepage {
    margin-top: 2vh;
    text-align: center;
}

.Homepage h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.Homepage .login {
    margin-bottom: 2vh;
}

.Homepage .h-spacing {
    margin-left: 1vh;
}

.Homepage .v-spacing {
    margin-bottom: 5vh;
}